body {
	background: grey;
	margin: 0;


}

.row {
	margin-bottom: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 0.3s;



}
.row:hover {
	border-color: black;
	background: rgba(0,0,0,0.2);
	cursor: pointer;

}

.breadboard {
	width: 50%;
	float: left;
}

.schematic {
	


}


.breadboard img {
	margin-left: 50px;
}